include_config 'obeheer1'
connect 'ntp::client::servers'  , 'ntp_servers'
connect 'ntp::server::clocks'   , 'ntp_clocks'
connect 'ntp::server::peers'    , 'ntp_servers'
connect 'provclient::satellite' , 'satellite_servers.first'
connect 'hpsim::agent::servers' , 'hpsim_servers'
# connect 'cstic_host'            , 'cstick_host.first'
# connect 'ldap_host'             , 'ldap_servers.first.ip'
connect 'sat_user'              , 'sat_user'
connect 'sat_password'          , 'sat_password'
connect 'snpm_remote_host'      , 'hpomw_servers.first.ip'
