name = 'Hallo Bert Hajee'
a::parameter = database_servers[0]


platform        = 'infoplus'
instance_name   = 'T3VINFO'
domain_name     = 'landelijk-t.ris'

host("t3dbnode1.${domain_name}") do
  ip:    '10.100.1.54',
  vip:   '10.100.1.143',
  priv:  '10.101.1.54',
end

host("t3dbnode1.${domain_name}") do
  ip:    '10.100.1.55',
  vip:   '10.100.1.144',
  priv:  '10.101.1.55',
end

host("t3wlsnode1.${domain_name}") do
  ip:      '10.100.1.56',
  isadmin: true,
end

host("t3wlsnode2.${domain_name}") do
  ip:      '10.100.1.57',
  isadmin: false,
end

host("t3wlsnode3.${domain_name}") do
  ip:      '10.100.1.58',
  isadmin: false,
end

host("t3wlsnode4.${domain_name}") do
  ip:      '10.100.1.59',
  isadmin: false,
end

host("t3wlsnode5.${domain_name}") do
  ip:      '10.100.1.60',
  isadmin: false,
end

host("t3nfsnode1.${domain_name}") do
  ip: '10.100.1.40',
end

asm_disk('DATADG_001') do
  raw_device:  '/dev/sda:1',
end

asm_disk('DATADG_002') do
  raw_device:  '/dev/sdb:1'
end

asm_disk('BACKUPDG_001') do
  raw_device: '/dev/sdc:1',
end

asm_disk('BACKUPDG_002') do
  raw_device: '/dev/sdd:1',
end

asm_disk('RECODG_001') do
  raw_device:  '/dev/sde:1',
end

asm_disk('RECODG_002') do
  raw_device:  '/dev/sdf:1',
end

asm_disk('SYSTEMDG_001') do
  raw_device:  '/dev/sdg:1',
end

asm_disk('SYSTEMDG_002') do
  raw_device:  '/dev/sdh:1',
end

asm_disk('SYSTEMDG_003') do
  raw_device:  '/dev/sdi:1',
end

database_servers = [
  host("t3dbnode1.${domain_name}"),
  host("t3dbnode2.${domain_name}"),
]

weblogic_servers = [
  host("t3wlsnode1.${domain_name}"),
  host("t3wlsnode2.${domain_name}"),
  host("t3wlsnode3.${domain_name}"),
  host("t3wlsnode4.${domain_name}"),
  host("t3wlsnode5.${domain_name}"),
]

scan_addresses = [
  '10.100.1.140',
  '10.100.1.141',
  '10.100.1.142',
]
