
asm_backup_disks [
  asm_disk('BACKUPDG_001'),
  asm_disk('BACKUPDG_001')
]

asm_disks [
  asm_disk('DATADG_001'),
  asm_disk('DATADG_002'),
  asm_disk('RECODG_001'),
  asm_disk('RECODG_002'),
  asm_disk('SYSTEMDG_001'),
  asm_disk('SYSTEMDG_002'),
  asm_disk('SYSTEMDG_003')
]

key 'grid' do
  type       'ssh-rsa'
  public_key 'AAAAB3NzaC1yc2EAAAABIwAAAQEAmwosmX3BKq/h3csPXegJVq72YgLWVhuhiwmLFp7OjYnczMLxBk5hkZim6QHnadbbmdq2+z/e6XNbd+aPQaTsXPWnaC2pWsrio9qF2RVRT6LJh3CNbIAiVBKfEA5NiF9HWhmnRfcWBEhujeR4WPisZjEpzz3lD+gfXINsp16j4H/mTUUWnl2LjspHuYkbpy25sJWI6j3jgJZWA9XeLpMMVlGCo27M5THaqosj5bG+CqCRL2Vfn7s0jO6DdEHCPnyTaecjymy0/W7S5PLcuRrRrQWLVtTSpTr83GDgk3ivPh/euPUa3ikKn6vQGvIVMOw+8bvaj7jqiKm6Y25fhhZc1w=='
end

key 'oracle' do
  type       'ssh-rsa'
  public_key 'AAAAB3NzaC1yc2EAAAABIwAAAQEAyhd981no5+R1VE7URWzLcSc9j3rnEKqGcNSPHV8QBq3/wnLHowAMa6ITWhDoP03+8Do6PUDyMcCNOZbsQbK/7EjmyYgFvCnB/ZvnPfYC8q7zs3830uvg/FkxCTEingVDfa495WQnpuMn2tIZcqrpp1ZGRYnJeLdDS0an4iHI6VNUKSwgcNhgU1w4iCgb4Onfh0Z2vra+mtkIHfRrXWHtdq+YfKpX66rjigoZkj/VB6vFF/5EpJ4L0rfJZrysKiAQBEmdfiwcDao/enUJpmNtgZaJSwNTI5uPHZXHqJT4GONRPxMUXeOoyya+uO51JiH9CcmDQZsLJd0u6LrV4Q1DZQ=='
end

connect('ora_rac::params::scan_name'      , 'instance_name')
connect('database_fqdn'                   , 'database_servers.ip')
connect('ora_rac::params::scan_adresses'  , 'scan_adresses')
connect('ora_rac::params::cluster_name'   , 'instance_name')
connect('wls::machines::machines'         , 'wls_servers')
connect('ora_rac::params::db_machines'    , 'database_server')

connect('profile::db::backupfs::asm_disks', 'asm_backup_disks')
connect('profile::db::backupfs::asm_disks', 'asm_disks')


set('ora_rac::settings::undo_initial_size'  ,'10M')
set('ora_rac::settings::undo_next'          ,'5M')
set('ora_rac::settings::undo_autoextend'    ,'on')
set('ora_rac::settings::undo_max_size'      ,'12288M')

set('ssh::access::allow', [
  'grid',
  'oracle'
])

connect('ssh::keys::grid'     , key('grid'))
connect('ssh::keys::oracle'   , key('oracle')

