node 'stic.is.tribase.nl' do
  ip '92.168.130.230'
end

node 'puts31.is.tribase.nl' do
  ip '192.168.130.56'
end

node 'puts32.is.tribase.nl' do
  ip '192.168.130.57'
end

node 'pxxq09.xx.post21.nl' do
  ip '192.168.130.58'
end

node 'splunk.xxx.xx.nl' do
  ip '127.0.0.1'
end

node 'clock1.is.tribase.nl' do
  ip '192.168.130.3'
end

node 'clock2.is.tribase.nl' do
  ip '192.168.130.4'
end

node 'clock3.is.tribase.nl' do
  ip '192.168.130.5'
end

node 'ndm1.is.tribase.nl' do
  ip '192.168.130.10'
end

node 'ndm2.is.tribase.nl' do
  ip '192.168.130.11'
end

node 'hbsat.is.tribase.nl' do
  ip      '192.168.130.95'
  aliases ['bhsat','sat', 'prov']
end

node 'hpsim1.is.tribase.nl' do
  ip '192.168.130.46'
end

node 'hpsim2.is.tribase.nl' do
  ip '192.168.130.47'
end


cstics [
  node('stic.is.tribase.nl')
]

hpomw_servers [
  node('pxxq09.xx.post21.nl')
]

splunk_forewarders [
  node('splunk')
]

clocks [
  node('clock1.is.tribase.nl'),
  node('clock2.is.tribase.nl'),
  node('clock3.is.tribase.nl')
]

ntp_servers [
  node('ndm1.is.tribase.nl'),
  node('ndm2.is.tribase.nl'),
  node('ndm3.is.tribase.nl'),
]

satellite_servers [
  node('hbsat.is.tribase.nl')
]
sat_user     'tbeheer1'
sat_password 'redhat'

hpsim_servers [
  node('hpsim1.is.tribase.nl'),
  node('hpsim2.is.tribase.nl')
]      

ldap_servers [
  node('puts31.is.tribase.nl'),
  node('puts32.is.tribase.nl')
] 


